[options]
; This is the password that allows database operations:
admin_passwd = {{ odoo_master_password }}
db_host = {{ postgres_host }}
db_port = {{ postgres_port }}
db_user = {{ postgres_user }}
db_password = {{ postgres_password }}
addons_path = {{ ([odoo_home_path + '/odoo/addons'] + ([odoo_home_path + '/enterprise'] if odoo_install_type == 'enterprise' else []) + [odoo_home_path + '/custom-addons']) | join(',') }}

xmlrpc_port = {{ odoo_port }}
longpolling_port = {{ longpolling_port }}

logfile = /var/log/odoo/{{odoo_user}}.log
