[Unit]
Description=Odoo
Requires=postgresql.service
After=network.target postgresql.service

[Service]
Type=simple
SyslogIdentifier={{ odoo_user }}
PermissionsStartOnly=true
User={{ odoo_user }}
Group={{ odoo_user }}
ExecStart={{ python_venv_path }}/bin/python3 {{odoo_home_path}}/odoo/odoo-bin -c /etc/{{ odoo_user}}.conf
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target